<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="OfflinePdfReader"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/ic_launcher_hexagon"
        android:roundIcon="@drawable/ic_launcher_hexagon"
        android:theme="@style/Theme.OfflinePdfReader">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Handle share intent from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <!-- Handle open PDF from file managers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityAliasHexagon"
            android:enabled="true"
            android:icon="@drawable/ic_launcher_hexagon"
            android:roundIcon="@drawable/ic_launcher_hexagon"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="OfflinePdfReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasSquircle"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_squircle"
            android:roundIcon="@drawable/ic_launcher_squircle"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="OfflinePdfReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasFlower"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_flower"
            android:roundIcon="@drawable/ic_launcher_flower"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="OfflinePdfReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
